.row{
	margin: 2px auto;
	width: 960px;
	clear: both;
}

.column{
	float: left;
	margin: 0 2px;
	border: 1px solid black;
}

.mouseenter{
	background-color: white;
}

#container{
	overflow: auto;
	width: 960px;
	margin: auto;
	border: 1px solid black;
}
